	/* hello, I know it's dirty here... take care. */
	
    body {
	padding-top: 20px;
	padding-bottom: 60px;
	background: url('img/bg-body.png') repeat top left;
	font:12px/18px "Lucida Grande",Arial,Verdana,sans-serif;
	cursor:pointer;
	}

	/* Custom container */
	.container {
	margin: 0 auto;
	max-width: 1000px;
	}
	.container > hr {
	margin: 60px 0;
	}
	
	/* first white container */
	
	.white-container {
		background-color:#ffffff;
		-webkit-box-shadow:rgba(0,0,0,.3) 0 1px 3px;
		border-radius:4px;
		width:900px;
		/* todo delete height */
		padding: 35px 40px 25px;
		margin:0;
		margin-left:1px;
	}
	
	/* second grey / medias container */
	
	.container-media {
		background-color:#f7f7f7;
		border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;
		margin:28px 0 0 4px;
		height:550px;
		width:700px;
	}
	
	.container-photos {
		width:1000px;
		margin-top:15px;
	}
	
	.container-user {
		background-color:#f7f7f7;
		border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;
		margin:20px 0 0 18px;
		padding-top:25px;
		width:700px;
	}
	
	.bg-body,.chevron,.icon_small,.logo_apercu_itunes,.menu-bar-fake,.ocon_big,.star{
	display: inline-block;background-repeat: no-repeat;background-image: url('img/sprite.png');
	}
	
	/* menu */
	.navigation {margin:-9px 0 0 -24px;}
	.menu-bar-fake{background-position:0px -74px;width:992px;height:51px;}
	
	/* logo apercu sur itunes */
	.logo_apercu_itunes{background-position:-118px 0px;width:220px;height:43px;margin:14px 0 -4px -20px;}
	
	/* sprite */
	.chevron{background-position:-33px 0px;width:10px;height:11px;position:relative;top:1px;left:0;}
	.icon_small{background-position:-46px 0px;width:69px;height:71px;}		
	.star{background-position:-199px -128px;width:16px;height:16px;}
	
	/* thumb grey */
	.appIconBig .img-rounded {margin-top:10px;}
	
	/* text : h1, h2, p, ul, li, a... */
	a:link, a:hover, a:visited, a:active {color:#298cda;}
	
	ul li {color:#898989;font-weight:100;font-size:12px;text-indent:-6px;margin:3px 0 0 20px;}
	.descriptionStack ul {margin:-11px 0 0 16px;line-height:0;padding-top:5px;}
	
	input, label {font-family:"Helvetica Neue", Helvetica, Arial;font-weight:bold;}
	input {font-weight:normal;}
	textarea {width:406px;}
	
	.appName {font-size:22px;line-height:28px;color:#474747;margin:-6px 0 0 0;}
	.editorName {font-size:17px;line-height:24px;color:#595959;margin:6px 0 44px 0;font-style:normal;}
	
	.descriptionStack {margin:2px 0 0 -4px;}
	.descriptionTitle {font-size:17px;line-height:24px;color:#595959;margin:5px 0 9px 20px;font-style:normal;}
	
	.baseline {margin-top:1px;color:#898989;width:652px;margin-left:20px;line-height:16px;}		
	.editorLink {margin-top:13px;font-weight:bold;color:#298cda;}
	.readMoreDescriptionLink {margin:15px 0 0 243px;}
	
	.descriptionTitle.news {margin-top:17px;}
	.appIconBig .img-rounded {border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px;margin:10px 10px 6px 20px;}
	
	.button {margin:10px 0 0 2px;}
	
	/* medias */
	.screenshots {margin:11px 0 0 37px;}
	.default.message, .filename, .progress, .size, .error-mark, .success-mark {display:none;}
	.photos {z-index:-100;margin-right:-20px;}
	.img-rounded.photo-3 {margin:-22px 0 0 -8px;}
	.descriptionTitle.screenshots {cursor:s-resize;}
	.img-rounded {cursor:n-resize;}
	
	/* dropzone preview thumb icon */
	.image-preview.success {
		height:175px;
		width:175px;
		margin:-180px 0 0 20px;
	}
	
	#dropzone:hover {cursor:move;}
	#dropzone .img-rounded:hover {cursor:move;}	
	/* user form */
	
	.leadSimulator {margin:25px 0 0 4px;}
	.input-xxlarge {width:408px;}
	
	/* symbols btns */
	#symbols {margin:0 0 0 -228px;}
	#symbols .btn-group {margin:18px 0 20px 0;}
	.affix {}
	.btn-group .btn {width:16px;padding:4px 21px 4px 8px;}
	
	/* iOS previw block */
	#iosPreview {background: url('img/ios-bg-th.png') no-repeat top left;background-size:250px 332px;height:332px;width:250px;margin:70px 0 0 -290px;}
	#iosValue1 {margin: 25px 0 0 73px;font-family:"Helvetica Neue", Helvetica, Arial;font-weight:bold;font-size:12px;width:110px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
	#iosValue2 {margin: -5px 0 0 73px;font-family:"Helvetica Neue", Helvetica, Arial;font-size:11px;color:#999999;width:110px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
	/* happy ending... silence.. bisou. */